# Dependencies
node_modules/

# Build artifacts
dist/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jest cache
/coverage 
src/tools/generated/
old/
__mocks__/